.box_comics {
  display: flex;
  text-decoration: none;
  width: 48.1%;
  box-sizing: border-box;
  margin: 10px;
}

.comic_box {
  width: 100%;
  display: flex;
  position: relative;
}

.comic_box img {
  width: 50%;
}

.circle2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  border: black 1px solid;
  position: absolute;
  position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .box_comics {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .box_comics {
    display: flex;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
  }
  .comic_box img {
    height: 175px;
    max-width: 100px;
  }
  .comic_box {
    align-items: center;
  }
  .comic_description p {
    font-size: 14px;
  }
}
