.hero_global {
  width: 100%;
  display: flex;
}
h1 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 50px;
}
.hero_description {
  width: 35%;
  background-color: black;
  color: white;
}

.hero_description img {
  width: 100%;
}
.hero_text {
  padding: 10px;
  box-sizing: border-box;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky p {
  font-family: "Bebas Neue", cursive;
}

.hero_comics {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  box-sizing: border-box;
}

.hero_comics img {
  object-fit: cover;
  height: 250px;
}

.comics_hero {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.comic_description {
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .hero_global {
    flex-direction: column;
  }
  .hero_description {
    width: 100%;
    background-color: black;
    color: white;
  }
  .hero_comics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    box-sizing: border-box;
  }
  .hero_comics img {
    object-fit: cover;
    height: 175px;
    max-width: 100px;
  }
}
