.header {
  height: 275px;
  background-color: white;
  width: 100%;
  margin-bottom: 80px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 300px;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no_link {
  text-decoration: none;
}

.header_bouton {
  display: flex;
}

.menu_bouton {
  margin: 0px 40px;
  outline: none;
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  color: #f11f20;
  cursor: pointer;
  letter-spacing: -2px;
}
